[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git

[submodule "src/spdk"]
	path = src/spdk
	url = https://github.com/spdk/spdk.git
	branch = v18.04.x

